@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

* {
  margin: 0;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app__title {
  color: #252a35;
  font-family: "Raleway";
  font-size: 36pt;
  font-weight: 400;
  text-align: center;
  padding: 40px;
  margin-top: 60px;
}

.projects_titleSlide {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.project__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;

  width: 80%;
}

.toTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 15pt;
  text-decoration: none;
  color: #0dd6a8;
}

@media screen and (max-width: 800px) {
  .app__canvasContainerText {
    font-size: 25pt;
  }
}
