.app__proficiency {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 40px;

  object-fit: contain;
}

.app__proficiencyBar {
  width: 100%;
  height: 35px;
  background-color: #eee;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;

  font-family: "Raleway";
  font-weight: 600;
  font-size: 14pt;
}

.app__proficiencyBarFill {
  width: 80%;
  background-color: #00a1a6;

  display: flex;
  justify-content: space-between;
}

.app__proficiencyBarTag {
  width: 120px;
  background-color: #0cc1c9;

  display: flex;
  justify-content: center;

  padding: 5px;

  font-family: "Raleway";
  font-weight: 700;
  color: white;
  font-size: 14pt;
}

.app__span {
  padding: 8px;
}
